    <div class="post-content">
        <%- post.content %>
    </div>

    <% if(theme.post_copyright_enable){ %>
        <section class="post-copyright">
            <% if(theme.post_copyright_author_enable && post.author){ %>
                <p class="copyright-item">
                    <span><%- __('author') %>:</span>
                    <span><a itemprop="author" rel="author" href="https://www.twitter.com/<%- post.author %>">@<%- post.author %></a></span>
                </p>
            <% } %>
            <% if(theme.post_copyright_permalink_enable){ %>
                <p class="copyright-item">
                    <span>Permalink:</span>
                    <span><a href="<%- post.permalink %>"><%- post.permalink %></a></span>
                </p>
            <% } %>
            <% if(theme.post_copyright_license_enable){ %>
                <p class="copyright-item">
                    <span>License:</span>
                    <span><%- theme.post_copyright_license_text %></span>
                </p>
            <% } %>
            <% if(theme.post_copyright_slogan_enable){ %>
                <p class="copyright-item">
                    <span>Slogan:</span>
                    <span><%- theme.post_copyright_slogan_text %></span>
                </p>
            <% } %>
        </section>
    <% } %>

    <section class="post-tags">
        <div>
            <% if(post.tags.length!==0){%>
            <span><%- __('tag') %>s:</span>
            <span class="tag">
                <% post.tags.forEach(item=>{ %>
                    <a href="<%- url_for(item.path) %>">#<%- item.name %></a>
                <% }) %>
            </span>
            <% } %>
        </div>
        <div>
            <a href="javascript:window.history.back();"><%- __('back').toLowerCase() %></a>
            <span>· </span>
            <a href="<%- url_for('') %>"><%- __('home').toLowerCase() %></a>
        </div>
    </section>