<div class="home">
  <nav id="nav">
    <a href="#home" class="icon active" data-key="initial">
      <%- fa_inline('home', { prefix: 'fas' }) %><span>Inicio</span></a>
    <a href="#contact" class="icon" data-key="contact">
      <%- fa_inline('envelope', { prefix: 'fas' }) %><span>Contacto</span></a>
    <a href="https://www.linkedin.com/in/ivanalonso" class="icon" target="_blank">
      <%- fa_inline('linkedin', { prefix: 'fab' }) %><span>LinkedIn</span></a>

    <div class="line"></div>

    <a href="https://github.com/neverbot" class="icon" target="_blank">
      <%- fa_inline('github', { prefix: 'fab' }) %><span>Github</span></a>
    <a href="https://instagram.com/neverbot" class="icon" target="_blank">
      <%- fa_inline('instagram', { prefix: 'fab' }) %><span>Instagram</span></a>
    <a href="https://twitter.com/neverbot" class="icon" target="_blank">
      <%- fa_inline('twitter', { prefix: 'fab' }) %><span>Twitter</span></a>
  </nav>

  <div id="main">

    <article id="initial" class="panel active" data-key="initial">
      <section class="text">
        <header>
          <h1>Iván Alonso</h1>
          <p><span id="text-animated"></span><span class="typed-cursor">|</span></p>
        </header>
      </section>
    </article>

    <article id="contact" class="panel" style="display:none;" data-key="contact">
      <section class="text">
        <header>
          <h1>Contacto</h1>
        </header>
        <p>
          Puedes encontrarme en <a href="http://twitter.com/neverbot">Twitter</a>
          o <a href="http://www.linkedin.com/in/ivanalonso">LinkedIn</a>. Si esperabas algún tipo de formulario, ya no estamos en 1997. Contruyamos una web mejor para todos.
        </p>
      </section>
    </article>
  </div>
</div>
