<style>
.timeline * {
  border: 0 solid #e2e8f0;
  line-height: 1.5;
}

.timeline-node {
  position: relative;
  padding-left: 6.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.timeline-version {
  font-size: 1.25rem;
  color: #a9a9b3;
}

.timeline-body {
  margin-bottom: .75rem;
  align-items: center;
  display: flex;
}

.timeline-time {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  position: absolute;
  left: 0;
  font-size: .875rem;
  font-weight: 600;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .75rem;
  padding-right: .75rem;
  color: #2d1b2e;
  background-color: #e1e1e1;
  border-radius: 9999px;
}

.timeline-line {
  position: absolute;
  left: 0;
  height: 100%;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #161209;
  margin-left: 5rem;
  align-self: flex-start;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  --transform-translate-x: -50%;
  --transform-translate-y: 0.75rem;
}

.timeline-circle {
  position: absolute;
  left: 0;
  width: .5rem;
  margin-left: 4.5rem;
  height: .5rem;
  box-sizing: content-box;
  border-width: 4px;
  border-radius: 9999px;
  border-color: #161209;
  background-color: #fff;
}

.timeline-title {
  color: #161209;
  font-size: 1.5rem;
  line-height: 1.375;
  font-weight: normal;
}
</style>
<div class="container">
  <article class="post-wrap page">
    <% if (theme.page_title_enable){ %>
    <h2 class="post-title">
      <%- page.title %>
    </h2>
    <% } %>
    <section class="post-content">
      <%- page.content %>

      <% if (page.timeline) { %>
        <div class="timeline">
        <% for (let i = 0; i < page.timeline.length; i++) { %>
          <div class="timeline-node">
            <div class="timeline-version"><%- page.timeline[i].version ? page.timeline[i].version : '&nbsp;' %></div>
            <div class="timeline-body">
              <div class="timeline-time"><%- page.timeline[i].date %></div>
              <% if (i !== page.timeline.length - 1) { %>
              <div class="timeline-line"></div>
              <% } %>
              <div class="timeline-circle"></div>
              <div class="timeline-title"><%- page.timeline[i].title %></div>
            </div>
            <div><%- markdown(page.timeline[i].content) %></div>
          </div>
        <% } %>
        </div>
      <% } %>
    </section>
  </article>
</div>